@import "tailwindcss";
.remote-cursor {
  border-left: 2px solid var(--cursor-color, #fff);
  margin-left: -1px;
}



.remote-cursor-label {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
}


.remote-cursor-label::before {
  content: attr(data-username);
  position: absolute;
  top: -1.6em;
  left: 0;
  background: var(--cursor-color);
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
}

.remote-selection {
  background-color: greenyellow;
  opacity: 0.4;
} 
.comment-glyph {
  background-image: url("./assets/icons8-comment.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  cursor: pointer;
}

.comment-glyph:hover {
  filter: brightness(1.4);
}

