@import "tailwindcss";
.remote-cursor {
   border-left-width: 2px;
  border-left-style: solid;
}



.remote-cursor-label {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
}


.remote-cursor-label::before {
  content: attr(data-username);
  position: absolute;
  top: -1.6em;
  left: 0;
  background: var(--cursor-color);
  color: white;
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
}

.remote-selection {
  background-color: greenyellow;
  opacity: 0.4;
} 
.comment-glyph {
  background: transparent;
  cursor: pointer;
}

.comment-glyph::before {
  content: "💬";
  font-size: 14px;
  line-height: 16px;
  display: block;
  text-align: center;
}
